@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --tt-toolbar-height: 44px;
}

.tiptap.ProseMirror {
  font-family: "DM Sans", sans-serif;
}

.simple-editor-wrapper {
  display: flex;
  min-height: 0;
  width: 100%;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.simple-editor-content {
  display: flex;
  min-height: 0;
  width: 100%;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  width: 100%;
  max-width: 90vw;
  min-height: 100%;
  margin: 0 auto;
  padding: 2rem 1.5rem 8rem;
}

@media screen and (max-width: 640px) {
  .simple-editor-content .tiptap.ProseMirror.simple-editor {
    padding: 1rem 1rem 7rem;
  }
}
